* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.controls {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px;
}
input {
  width: 100%;
  padding: 10px;
}

.product {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  margin: 10px;
}
.card {
 padding: 10px;
}

@media (min-width: 768px) {
  .product {
    grid-template-columns: repeat(4, 1fr);
  }
}
