* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.controls {
  display: flex;
  gap: 12px;
  margin-bottom: 24px;
  margin-top: 20px;
  margin-left: 20px;
}

.controls input {
  
  flex: 1;
  height: 45px;
  padding: 0 12px;
  font-size: 14px;
}


input::placeholder {
  color: #999;
  font-size: 14px;
  font-style: italic;
}

.product {
  margin: 20px 10px 10px 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: contain;
  margin-bottom: 8px;
}

.card h4 {
  font-size: 16px;
  margin: 8px 0 4px;
}

.card p {
  font-size: 14px;
  color: #555;
}
.card {
  padding: 12px;
  border: 1px solid #ddd;
}

.container > p {
  margin-top: 20px;
  font-size: large;
}
